version: "3.7"
services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8083:8080" # external:internal
    volumes:
      - ./srv/serverManager:/usr/src/app/data
